# Vagrant instance-specific configuration
.vagrant

# OS-specific indices
.DS_Store
Thumbs.db

# Sublime Text workspace
*.sublime-workspace

# ftpsync file uploader
ftpsync.settings

# config file
config.php

# Vim swap files
*.swp
