body{
  overflow: auto;
}
#topBarDiv{
  width: 80%;
  margin: auto;
  text-align: center;
  border: solid;
}
#footer{
  width: 80%;
  margin: auto;
  text-align: center;
  border: solid;
}
#content{
  width: 80%;
  overflow: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#signUpDiv{
  float: right;
  margin-right: 10%;
  margin-left: 5%;
  padding-top: 50px;
  width: 35%;
}
#aboutDiv{
  float: left;
  margin-left: 10%;
  margin-right: 5%;
  width: 35%;
  height: 300px;
}
.loginImage{
  height: 150px;
}