

body{
  overflow: auto;
    background: url(images/background3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black; 
}
body *{
}
#topBarDiv{
  width: 80%;
  margin: auto;
  text-align: center;
}
#topBarUL{
  padding: 0px;
}
.imageLI{
  display: inline;
}
#topBarUL li:not(.imageLI){
  display: inline;
  padding: 5px;
}
#footer{
  width: 80%;
  margin: auto;
  text-align: center;
  font-size:13px;
  color:blue;
  text-shadow: none;
  margin-bottom: 0px;
}

#footer2{
  width: 80%;
  margin: auto;
  text-align: center;
  font-size:13px;
  color:blue;
  text-shadow: none;
  margin-bottom: 0px;
  border-width:3px;
  border-color: green;
  border-top: none;
}
#content{
  width: 80%;
  overflow: auto;
  margin: auto;
  margin-top: 30px;
}

#content2{
  width: 80%;
  overflow: auto;
  margin: auto;
  margin-top: 30px;
  border-style:solid;
  border-width:3px;
  border-color: green;
  border-bottom: none;
  
}
#signUpDiv{
  float: left;
  margin-right: 5%;
  margin-left: 2.5%;
  padding-top: 10px;
  width: 35%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-color: rgb(96, 197, 227);
  position: relative;
}
#aboutDiv{
  float: right;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-top: 10px;
  width: 35%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-color: rgb(96, 197, 227);
  position: relative;
}

#aboutDiv2{
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 50px;
  padding-top: 10px;
  width: 70%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.loginImage{
  padding-left: 22px;
  height: 200px;
  width: 400px;
}

.loginImage2{
  padding-left: 22px;
  height: 200px;
  width: 70%;
}

.logoImage{
  float: left;
  height: 200px;
  width: 25%;
  position: relative;
  margin-right: 10%;
  margin-left:5%;
  margin-top: 10px;
}
h2{
  text-align: center;
    color:black;
}
.post{
  display: block; 
  overflow: auto;
  position: relative;
  border: solid;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.postBody{
  float: left;
  margin: 10px;
}
.metaPost{
  float: left;
  clear: left;
  border-right: solid;
  border-width: 1px;
  width: 100px;
}
.metaPost p{
  margin: 5px;
}
.quoteButton{
  position: absolute;
  right:    0;
  bottom:   0;
}

.whitebox{
  height: 200px;
  width: 25%;
  margin: 0 auto;
  position:relative;
  background-color: rgb(249, 249, 249);
}