html, #container { height: 96.1%; }
body > #container { height: auto; min-height: 100%; }

body{
  overflow: auto;
    background: url(images/background3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black; 
    height: 100%;
}
body *{
}
#topBarDiv{
  width: 80%;
  margin: auto;
  text-align: center;
}
#topBarUL{
  padding: 0px;
}
.imageLI{
  display: inline;
}
#topBarUL li:not(.imageLI){
  display: inline;
  padding: 5px;
}
#footer { 
  text-shadow: none;
  clear: both; 
  position: relative; 
  z-index: 10; 
  height: 3em; 
  margin-top: -3em; 
  background-color: rgba(2,2,2,.4); 
  color: white; font-size: 200%; 
  text-align: center; 
  line-height: 3em; 
  font-size: 13px;
}

#footer2{
  text-shadow: none;
  clear: both; 
  position: relative; 
  z-index: 10; 
  height: 3em; 
  margin-top: -3em; 
  background-color: rgba(2,2,2,.4); 
  color: white; font-size: 200%; 
  text-align: center; 
  line-height: 3em; 
}
#content{
  width: 80%;
  overflow: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 3em;
}

#content2{
  overflow: auto;
  padding-bottom: 3em; 
  width: 60%; 
  margin: 0 auto;
  padding-bottom: 5em;
}
#content2 a {
 color:black;
}
#content2 a:hover {
   color: white;
}

}
#signUpDiv{
  float: left;
  margin-right: 5%;
  margin-left: 2.5%;
  padding-top: 10px;
  width: 35%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-color: rgb(96, 197, 227);
  position: relative;
}
#aboutDiv{
  float: right;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-top: 10px;
  width: 35%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-color: rgb(96, 197, 227);
  position: relative;
}

#aboutDiv2{
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 50px;
  padding-top: 10px;
  width: 70%;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.loginImage{
  padding-left: 22px;
  height: 200px;
  width: 400px;
}

.loginImage2{
  padding-left: 22px;
  height: 200px;
  width: 70%;
}

.logoImage{
  float: left;
  height: 178px;
  width: 30%;
  position: relative;
  padding-right: 10%;
  padding-left:5%;
  padding-top: 22px;
  margin-top: 5px;
  background-color: rgba(2,2,2,.4);
}
h2{
    color:black;
  font-size:30px;
}
h3{
  color:black;
  font-size:20px;
  text-decoration:underline;
}
.post{
  display: block; 
  overflow: auto;
  position: relative;
  border: solid;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.postBody{
  float: left;
  margin: 10px;
}
.metaPost{
  float: left;
  clear: left;
  border-right: solid;
  border-width: 1px;
  width: 100px;
}
.metaPost p{
  margin: 5px;
}
.quoteButton{
  position: absolute;
  right:    0;
  bottom:   0;
}

.whitebox{
  height: 200px;
  width: 25%;
  margin: 0 auto;
  position:relative;
  background-color: rgb(249, 249, 249);
}

#mytable
{
  font-size:15px;
  width:80%;
}

#table_header
{
  font-size:20px;
  font-weight:bold;
}

#cur_week
{
  font-size:20px;
  font-style:italic;
  text-align:center;
}

input, select, textarea {
  background-color: rgba(2,2,2,.4);
  color: white;
}

a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:grey;}  /* mouse over link */
a:active {color:white;}

.profile {
  border-radius:10px;
}
